<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   
    <!-- address performance concern with jul-to-slf4j -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
  
    <!-- https://www.eclipse.org/jetty/documentation/9.1.5.v20140505/example-logging-logback-centralized.html -->
  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/swaggerserver_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
   
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender> 
    
    <logger name="org.eclipse.jetty">
        <level value="INFO"/>
    </logger> 
     
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger> 
    
    <logger name="org.apache">
        <level value="INFO"/>
    </logger>  

    <logger name="com.acqua.dragonfishserver">
        <level value="INFO"/>
    </logger>  
    
    <logger name="com.aqua.verificador.Licenciador">
        <level value="INFO"/>
    </logger>   
    
    <logger name="com.acqua.dragonfishsimpleapiclient.EntityLoggingFilter">
        <level value="INFO"/>
    </logger> 
    
    <logger name="com.acqua.dragonfishserver.services.ConvertidorDeDatos">
        <level value="INFO"/>
    </logger> 
    
    <logger name="com.atina.jdeconnectorservice.JDEConnectorService" level="DEBUG"/>
    
    <logger name="com.jde.jdeconnector.services.JDEServiceImpl" level="DEBUG"/>
        
    <logger name="com.atina.jdeconnector.internal.JDEHandler" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    
    
</configuration>
