<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   
    <!-- address performance concern with jul-to-slf4j -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
  
    <!-- https://www.eclipse.org/jetty/documentation/9.1.5.v20140505/example-logging-logback-centralized.html -->
  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/tmp/jde/JDEConnectorServerLog/jde_atina_server_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.eclipse.jetty">
        <level value="INFO"/>
    </logger> 
     
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger> 
    
    <logger name="org.apache">
        <level value="INFO"/>
    </logger>  
    
    <logger name="com.acqua.jde.jdeconnectorserver.JDEConnectorServer" level="INFO"/> 
    
    <logger name="com.acqua.jde.jdeconnectorserver.server.JDERestServer" level="INFO"> 
        <appender-ref ref="STDOUT" />
    </logger> 
    
    <logger name="com.acqua.atina.jdeconnectorservice.JDEConnectorService" level="INFO"/>
    
    <logger name="com.jdedwards.base.logging.LogOutputHandler" level="DEBUG"/>
    
    <logger name="com.atina.jdeconnector.internal.JDEHandler" level="DEBUG"/>
        
    <logger name="com.acqua.atina.jdeconnectorservice.wsservice.JDESingleWSClient" level="INFO"/> 
    
    <root level="info"> 
        <appender-ref ref="FILE" />
    </root>
    
    
</configuration>
